.modal {
  height: 100%;
  background: rgba(196, 196, 196, 0.5);
  display: none;
}

.modal__submit-btn {
  margin-top: 24px;
}

.modal__close-icon {
  width: 24px;
  height: 24px;
  justify-self: end;
  cursor: pointer;
}
.modal__wrapper {
  max-width: 508px;
  padding: 32px 38px 40px 40px;
  background: #ffffff;
  border-radius: 8px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.modal__form-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
}
.modal__label {
  display: block;
  font: normal 500 12px/1.5 'Inter-medium';
  color: var(--grey-3);
  margin-bottom: 5px;
}

.modal__input {
  padding: 17px 0 13px 24px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--grey-2);
}
.modal__input::placeholder {
  font: normal 400 20px/1.2 'Inter-medium';
  color: var(--grey-2);
}

input[type='text']:nth-child(2) {
  margin-bottom: 16px;
}
