.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(196, 196, 196, 0.5);
  display: none;
}

.modal__wrapper {
  position: relative;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 428px;
  padding: 30px 40px 33px 40px;
  background: var(--white);
  border-radius: 8px;
}

.modal__title {
  font: normal 600 20px/1.2 'Inter';
  margin-bottom: 14px;
}

.modal__description {
  font: normal 400 16px/1.5 'Inter';
}

.modal__close-icon {
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
}

.modal_open-button {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
}
