.footer {
  height: 300px;
  padding: 71px 0 0;
  background: var(--white);
  text-align: center;
}

.footer__title {
  margin-bottom: 32px;
  font: 500 normal 38px/1.25 Inter-Bold;
  color: var(--black);
}

.footer__text {
  width: 640px;
  margin: 0 auto;
  font: 400 normal 16px/1.5 Inter-Medium;
  color: var(--black);
}
